.shop {
  background-attachment: fixed;
  background-image: url("../img/banner_pizza_4.jpg");

  height: 450px;
  width: 100%;
}

.shop_text {
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 400px;
}

.shop_text h1 {
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 1.5px;
}

.shop_text h1 span {
  color: red;
  font-size: 40px;
  font-weight: 800;
}
.shop_btn {
  margin-top: 35px;
}
